<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1" />
    <title>absOrb HD</title>
    <style type="text/css">
	    body {
		    background-color: #000;
		    overflow: hidden;
		    margin: 0;
		    padding: 0;
	    }
	    #absorb {
		    position: relative;
		    width: 1026px;
		    height: 774px;
		    -webkit-transform-origin: 0px 0px;
	    }
    </style>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
